@import "../../scss-utils.scss";

.cosuno-app {
  background-color: $cosuno-grey;
}

.cosuno-content-wrapper {
  padding: toRem(50) 0 toRem(30) 0;
  background-color: $cosuno-grey;
  color: $cosuno-white;
  width: 100%;
  min-height: 95vh;
}

.cosuno-search-field {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: toRem(50);

    @media only screen and (max-device-width: 407px) {
      justify-content: center;
    }
  }
}

.cusono-search-results {
  &__results-list {
    padding: 0;
    & li:nth-child(2n) {
      background-color: $cosuno-light-blue;
    }
  }
  &__result {
    overflow: auto;
    word-break: break-word;
  }
}
