@import "../../scss-utils.scss";

.company-search-app {
  background-color: $company-search-grey;
}

.company-search-content-wrapper {
  padding: toRem(50) 0 toRem(30) 0;
  background-color: $company-search-grey;
  color: $company-search-white;
  width: 100%;
  min-height: 87vh;
}

.company-search-search-field {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: toRem(50);

    @media only screen and (max-device-width: 407px) {
      justify-content: center;
    }
  }
}

.comapny-search-search-results {
  &__results-list {
    padding: 0;
    & li:nth-child(2n) {
      background-color: $company-search-light-blue;
    }
  }

  &__result {
    overflow: auto;
    word-break: break-word;
  }
}
