@import "../../scss-utils.scss";
.cosuno-header {
  color: $cosuno-blue;

  &__content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__logo {
    margin: toRem(10);
  }
}
