@import "../../scss-utils.scss";
.company-search-header {
  color: $company-search-blue;

  &__content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__logo {
    margin: toRem(10);
    width: toRem(300);
  }
}
