@import "../../scss-utils.scss";
.company-search-footer {
  background-color: $company-search-blue;

  &__text {
    font-size: toRem(16);
    font-weight: bold;
    color: $company-search-white;
    margin: 0;
    height: 5vh;
  }
}
