@import "../../scss-utils.scss";

li {
  list-style-type: none;
}

.cosuno-search-result {
  color: $cosuno-blue;

  &__image {
    width: toRem(100);
    height: toRem(100);
  }

  &__image,
  &__title,
  &__specialty,
  &__logo,
  &__city {
    padding: toRem(8) 0 toRem(8) 0;
  }
}
